


* {
    margin: 0;
}

body {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    color: aliceblue;
}

nav {
    border: 2px solid black;
    /* display: inline-flex; */
}

.navigation {
    display:flex;
    justify-content: space-between;
    padding: 1rem;
}


.links {
    display: flex;
    justify-content: space-around;
}

.home a, .links a {
    font-size: 1.75rem;
    text-decoration: none;
    color:aliceblue;
    font-family: 'Aqua Grotesque', sans-serif;
}

.hero-container {
    /* border: 2px solid mediumorchid; */
    padding: 2rem;
    display:flex;
    justify-content: center;
    text-align: center;
}

.profile-picture {
    width:10rem;
    height: 10rem;
    border-radius: 50%;
    border: 2px solid mediumorchid;

}
.about-container {
    border:2px solid  mediumvioletred;
}

.portfolio-container {
    border: 2px solid orangered;
}

.contact-container {
    border: 2px solid goldenrod;
}