html, body {
  height: 100vh;
  background-color: black;
}
main {
  height: 100vh;
  overflow-x: hidden;
}
.bg-image {
  background-image: url(../images/background_NoLake_v5.png) ;
  height: 95vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position:bottom; 
  overflow-y: auto;
}

p {
  font-family: 'Roboto', sans-serif;
}

.navbar-toggler {
  color: aliceblue;
  border-color: aliceblue;
  background-color: black;
  border: 1px solid aliceblue;
}
.navbar-toggler-icon {
  color:aliceblue;
  border: aliceblue;
  -webkit-tap-highlight-color: aliceblue;
}
.line {
  border: 1px solid mediumaquamarine;
  margin: 5px 0px;
}
/*///// COVER TEXT /////*/

.mask {
 height: 40vh;
  font-family: 'Aqua Grotesque', sans-serif;
}

.mask h1{
  font-size: 5rem;
  color: rgb(76,191,131);
}

.mask h4 {
  color: aliceblue;
  text-align: left;
}

/*///// ABOUT ME //////*/

#about-me-img,   #about-me-img-hidden {
 text-align: center;

}

#about-me-img img,   #about-me-img-hidden {
  border-radius: 65px;
  box-shadow: 0px 0px 10px 10px slategray;
  border: 5px  solid aliceblue;
}

.featurette-heading {
  font-family: 'Aqua Grotesque', sans-serif;
}
/* Eventually make it so that its an auto carousel */


/*///// PORTFOLIO /////*/
hr {
  color: aliceblue;
}

#project-2 p,#project-4 p {
  font-size:small;
}

#project-5 p,  #project-3 p {
  font-size:x-small;
}
.card-img-title, .card-title, .card-text, .github-link {
  /* display: none; */
}
.card-img-overlay {
  display: none !important;
}

.card:hover .card-img-overlay {
  display: block !important;

}

.btn {
  vertical-align: center;
  text-align: center !important;
  background-color: darkslategrey;
}
#project-1 {
  background-color: mediumaquamarine;
}

#project-2 {
  background-color: mediumpurple;
}

#project-3 {
  background-color: mediumblue
}

#project-4 {
  background-color: mediumvioletred;
}

#project-5 {
  background-color: mediumaquamarine;
}



/* //////////////////////// CONTACT ME ////////////////////////////*/

#contact-me a,#contact-me p {
  color:mediumpurple;
  text-decoration: none;
  font-size: x-large !important;
}

#contact-me a:hover {
  color: mediumorchid;
}

#contact-me {
  flex-direction: row;
  justify-content: space-around;
}

/* ADDING ONTO BOOTSTRAP */

.py-6 {
  padding-top: 3.25rem;
  padding-bottom: 3.25rem;
}

.h-6 {
  font-size: 3rem;
}

#about-me-img-hidden {
  display: none;
}
html {
  font-size: 1rem;
}
@media screen and (max-width:500px) {
  .project {
    width: 100%;

  }
  .bg-image h1 {
    font-size: 4rem;
    width: 100%;
    padding: 0;
  }
  .bg-image .mask {
    width: 100%;
    text-align: center;
  }
  .bg-image h4 {
    font-size: 1rem;
    text-align: center;
  }
  .bg-image .mask div {
    text-align: center;
  }
  #about-me-img img {
    display: none;
  }
  #about-me-img-hidden {
    display:block;
    margin: 1rem;
  }
}

@media screen and (max-width: 700px) {
  #contact-me {
    font-size: medium;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .more-portfolio {
    flex-direction: column;
  }
  .project {
    width: 100%;
  }
  #about-me {
    flex-direction: row-reverse;
  }

}
@media screen and (max-width: 800px) {
  .more-portfolio {
    flex-direction: column;
  }
  .project {
    width: 100%
  }
  #about-me-img img {
    display: none;
  }
  #about-me-img-hidden {
    display:block;
    margin: 1rem;
  }


}
@media screen and (max-width: 1300px) {
  .more-portfolio {
    flex-direction: column;
  }
  .project {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    align-self: center;
  }
 
  .p-5 {
    width: 100%;
  }



}
/* @include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
} */